:root {
  --primaryColor: #ffc9a1;
  --secondaryColor: #ff8bb3;

  --neu01: #FFFFFF;
  --neu02: #F4F4F4;
  --neu03: #EBEBEB;
  --neu04: #CCCCCC;
  --neu05: #AFAFAF;
  --neu06: #999999;
  --neu07: #666666;
  --neu08: #4A4D4E;
  --neu09: #333333;
  --neu10: #000000;
}
* {
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  outline-color: transparent;
  outline: none;
  font-family: 'Roboto';
}
::selection {
  background: var(--primaryColor);
  color: var(--neu01);
}
h1, h2 {
  text-transform: uppercase;
}
h2 {
  font-size: 14px;
  color: var(--neu01);
  opacity: .6;
  margin: 5px 0;
}
body {
  margin: 0;
}
main {
  width: 100%;
  padding: 20px;
  height: 100vh;
}
.leftContainer,
.rightContainer {
  width: 50%;
  height: 100vh;
  z-index: 1;
  position: absolute;
  top: 0;
}
.leftContainer {
  background-color: var(--neu01);
  left: 0;
}
.rightContainer {
  right: 0;
  background-image: linear-gradient(147deg, var(--primaryColor), var(--secondaryColor));
}
.wrapper {
  z-index: 2;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.logoD {
  max-width: 120px;
}
.logoM {
  display: none;
}
.textarea {
  top: 100px;
  box-shadow: 5px 5px 50px 10px rgba(0,0,0,.1);
  width: 100%;
  height: 330px;
  max-width: 60%;
  margin: 0 auto;
  background-color: var(--neu01);
}
.textarea textarea {
  height: 238px;
  width: 100%;
  padding: 40px 25px;
  padding-bottom: 10px;
  color: var(--neu06);
  font-size: 18px;
  line-height: 24px;
}
.textarea label {
  color: var(--neu01);
  pointer-events: none;
  user-select: none;
}
.textarea button {
  position: absolute;
  bottom: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.textarea button:first-of-type {
  right: 120px;
  background-color: var(--neu01);
  padding: 20px;
}
.textarea button:last-of-type {
  right: 0;
  background-color: var(--primaryColor);
  color: var(--neu01);
  width: 120px;
  line-height: 92px;
}
@supports (-webkit-overflow-scrolling: touch) {
  .textarea button:first-of-type {
    right: 0;

  }
  .textarea button:last-of-type {
    display: none;
  }
}

textarea {
  width: 100%;
  padding: 10px;
  border: 0;
  background-color: rgba(var(--neu01),.8);
  resize: none;
}
.about {
  max-width: 330px;
  text-align: right;
  position: absolute;
  top: 540px;
  left: 0;
}
.title {
  color: var(--primaryColor);
  font-size: 14px;
}
.aboutText {
  color: var(--neu06);
  font-size: 18px;
  margin: 5px 0;
}
.presets {
  max-width: 130px;
  position: absolute;
  top: 120px;
  right: 0;
}
.presets button {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--neu01);
  color: var(--neu01);
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  opacity: .6;
  transition: all .1s ease-in;
  padding: 0;
}
.presets button:hover,
.presets button.selected {
  background-color: var(--neu01);
  opacity: 1;
  color: var(--secondaryColor);
}
.presets button:nth-child(2n) {
  margin-right: 20px;
}
.letters,
.words {
  width: 130px;
  position: absolute;
  top: 540px;
  display: inline-block;
}
.letters {
  right: 190px;
}
.words {
  right: 0;
}
.letters p,
.words p {
  font-size: 72px;
  color: var(--neu01);
  margin: 0;
  font-weight: bold;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
  margin-top: 17px;
  display: inline-block;
}
.flip-container:nth-child(2n) {
  margin-right: 20px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 50px;
  height: 50px;
}

.flip-container.selected .front {
  background-color: var(--neu01);
  color: var(--primaryColor);
  opacity: 1;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid var(--neu01);
  color: var(--neu01);
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
  opacity: .6;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  background-color: var(--neu01);
  color: var(--primaryColor);
  opacity: .8;
}
@media only screen and (max-height: 700px) {
  .textarea {
    top: 30px;
  }
  .letters,.words,.about {
    top: 470px;
  }
  .presets {
    top: 50px;
  }
  .leftContainer,
  .rightContainer {
    height: 110vh;
  }
}
@media only screen and (max-width: 768px) {
  main {
    height: auto;
  }
  .leftContainer,
  .rightContainer {
    width: 100%;
    height: 100%;
  }
  .logo {
    margin-bottom: 20px;
    text-align: center;
  }
  .logoM {
    display: inline-block;
    max-width: 50px;
  }
  .logoD {
    display: none;
  }
  .about,
  .presets,
  .letters,
  .words {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .textarea {
    max-width: none;
    top: 0;
  }
  .letters,
  .words {
    margin: 20px 0;
    width: 50%;
  }
  .presets {
    max-width: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .presets h2 {
    flex: 1 1 100%;
  }
  .presets button {
    margin: 7px;
  }
  .flip-container {
    margin: 7px;
  }
  .flip-container:hover .flipper {
  	transform: rotateY(0);
  }
  .presets button:nth-child(2n) {
    margin-right: 7px;
  }
  .flip-container:nth-child(2n) {
    margin-right: 7px;
  }
  .about {
    background-color: var(--neu01);
    max-width: none;
    padding: 30px;
    margin-top: 20px;
    width: calc(100% + 40px);
    left: -20px;
    top: 20px;
    text-align: left;
  }
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--neu04);
}
